# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/themes/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
.env

# Composer
composer.lock

# NPM
npm-debug.log

# Temp files
*~

# Intellij files
.idea/
